<template>
    <div class="container">
        <header>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Create new card</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            <form role="form">
                                <div class="form-group"><label>Title</label> <input type="text" name="card-title" placeholder="Enter card`s title" class="form-control card-title"></div>
                                <div class="form-group"><label>Body</label> <textarea type="password" placeholder="Enter card`s body" class="form-control"></textarea></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Cards</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            www
                        </div>
                        <div class="col-sm-6 b-r">
                            www
                        </div>
                        <div class="col-sm-6 b-r">
                            www
                        </div>
                        <div class="col-sm-6 b-r">
                            www
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</template>

<script>
    export default {
        name: "Cards"
    }
</script>

<style scoped>

</style>