<template>

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">T_B</h1>

            </div>
            <h3>Welcome to Test Builder</h3>
            <p>
                Create your own tests and learn.
            </p>
            <p>Login in. To see it in action.</p>
            <form class="m-t" role="form" @submit.prevent>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Username" v-model="form.email" required="">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" v-model="form.password" required="">
                </div>

                <button type="submit" class="btn btn-primary block full-width m-b" @click="submit">Login</button>

                <!--<a href="#"><small>Forgot password?</small></a>-->
                <p class="text-muted text-center"><small>Do not have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="">Create an account</a>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Login",

        data() {
            return {
                form: {
                    email: '',
                    password: ''
                },
                isProceed: false,
                errors: {}
            }
        },

        methods: {
            submit() {
                this.errors = {};
                this.isProceed = true;

                this.$store.dispatch('login', this.form)
                    .then(res => {
                        console.log(res);
                        if (res.data.error) {
                            this.errors.credentials = 'Wrong email or password'
                        }
                        this.isProceed = false;
                    })
                    .catch(err => {
                        console.log(err);
                        if (err.response.status === 422) {
                            this.errors = err.response.data.errors;
                        }
                        this.isProceed = false;
                    });
            }
        }
    }
</script>

<style scoped>

</style>