<template>
    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">IN+</h1>

            </div>
            <h3>Register to IN+</h3>
            <p>Create account to see it in action.</p>
            <form class="m-t" role="form" @submit.prevent>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" v-model="form.name" required="">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" v-model="form.email" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" v-model="form.password" required="">
                </div>
                <div class="form-group">
                    <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b" @click="submit">Register</button>

                <p class="text-muted text-center"><small>Already have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" >Login</a>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Registration",

        data() {
            return {
                errors: {},
                isProceed: false,
                form: {}
            }
        },

        methods: {
            submit() {
                this.errors = {};
                this.isProceed = true;

                this.$store.dispatch('register', this.form)
                    .then(res => {
                        this.isProceed = false;
                        toastr.success('Registration is success');
                        this.$router.push('/')
                    })
                    .catch(err => {
                        if (err.response.status === 422) {
                            this.errors = err.response.data.errors;

                            for (let key in this.errors) {
                                toastr.error(this.errors[key][0]);
                            }
                        }

                        this.isProceed = false
                    })
            },
        }
    }
</script>

<style scoped>

</style>