<template>
    <div class="container">
        <div class="col-md-4 header-navbar-block">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="list-horizontal navbar-nav">
                        <router-link :to="{name: 'home'}" active-class="active" tag="li" class="nav-item">
                            <a class="nav-link">Home</a>
                        </router-link>
                        <router-link v-if="!isAuth" :to="{name: 'login'}" active-class="active" tag="li" class="nav-item">
                            <a class="nav-link">Login</a>
                        </router-link>
                        <router-link v-if="!isAuth" :to="{name: 'registration'}" active-class="active" tag="li" class="nav-item">
                            <a class="nav-link">Registration</a>
                        </router-link>
                        <router-link v-if="isAuth" :to="{name: 'cards'}" active-class="active" tag="li" class="nav-item">
                            <a class="nav-link">Cards</a>
                        </router-link>
                        <router-link v-if="isAuth" :to="{name: 'tests'}" active-class="active" tag="li" class="nav-item">
                            <a class="nav-link">Tests</a>
                        </router-link>
                    </ul>
                </div>
            </nav>
        </div>
        <router-view/>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        name: "App",

        mounted() {
            console.log('Component mounted.')
        },

        created() {
            console.log('App');

            this.$store.dispatch('checkAuth');
        },

        computed: {
            ...mapGetters([
                'isAuth'
            ]),
        },
    }
</script>
